.footer {
    background-color: #000;
    color: #fff;
    a {
        color: #fff;
        &:hover {
        color: $cnfm-green;
        }
    }

    p {
        strong {
        color: $cnfm-green;
        }
    }

    h3 {
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 1rem;
        color: $cnfm-blue;
    }

    .bottom {
        padding: 20px 0;
        background: linear-gradient(to left top, $cnfm-green, $cnfm-blue);
        color: #fff;
        width: 100%;
    }
}