@font-face {
  font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    src: local('../fonts/Raleway/static/Raleway-Bold.ttf');
}

@font-face {
  font-family: 'Poppins' , sans-serif;
    font-weight: 400;
    src: local('../fonts/Poppins/Poppins-Regular.ttf');
}

body {
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.btn-primary-outline {
  background-color: transparent;
  border-color: $primary;
  color: black;
  &:hover {
    background-color: $primary;
    border-color: $primary;
    color: white;
  }
}

.btn-secondary-outline {
  background-color: transparent;
  border-color: $secondary;
  color: black;
  &:hover {
    background-color: $secondary;
    border-color: $secondary;
    color: white;
  }
}

.bg-primary {
  background-color: $primary;
  color: white !important;
}

.bg-secondary {
  background-color: $secondary;
  color: white;
}

.btn-white {
    background-color: white;
    color: black;
    &:hover {
        background-color: $cnfm-green;
        color: black;
    }
}

.btn-black {
    background-color: black;
    color: white;
    &:hover {
        background-color: $cnfm-green;
        color: black;
    }
}

.display-1, .display-2, .display-3, .display-4 {
  font-weight: 700;
}

.sub-title {
  font-size: 1rem;
  font-weight: 700;
}

.icon-holder {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $cnfm-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    i {
        font-size: 1.3rem;
        color: white;
    }
}
